//Формы
mixin input-tel(object)
    input.input-text(type='text' name='tel' placeholder = object.placeholder ? object.placeholder: 'Ваш телефон*')

mixin input-name(object)
    input.input-text(type='text' name='name' placeholder = object.placeholder ? object.placeholder: 'Ваше имя*')

mixin input-email(object)
    input.input-text(type='text' name='email' placeholder = object.placeholder ? object.placeholder: 'Ваша почта')
mixin input-area(object)
    textarea.input-text.input-area(placeholder="Ваш комментарий..")
mixin input-submit(object)
    input.input-submit.btn.btn--secondary(type='submit' class=object.style value = object.value ? object.value: 'Отправить')


//Графика
mixin setImg(object)
    picture
        source(srcset=object.webp media="(min-width: 767px)" alt=object.alt type='image/webp')
        source(srcset=object.mWebp media="(min-width: 0) and (max-width: 767px)" alt=object.alt type='image/webp')
        img(src=object.img srcset=mImg + ' 767w' alt=object.alt)

mixin setSvg(object)
    svg.icon
        use(xlink:href='images/skipped-optim.svg#' + object.name)

mixin homeReviewCard(object)
    .home-reviews-card
        .home-reviews-card__head
            .home-reviews-card__name !{object.name}
            .home-reviews-card__date !{object.date}
            .home-reviews-card__place !{object.place}
        .home-reviews-card__text !{object.text}\
mixin navLinks(text, link)
    li.nav-links__item
        a(href=link).nav-links__link !{text}

mixin navLinksDropdown(text, link)
    li.nav-links__item.nav-links__item--dropdown
        a(href=link).nav-links__link !{text}
        .nav-links__dropdown-wrapper
            .nav-links__dropdown
                .nav-links__dropdown-item
                    a(href='#').nav-links__dropdown-link Стеклянные двери в душ
                .nav-links__dropdown-item
                    a(href='#').nav-links__dropdown-link Душевые перегородки из стекла
                .nav-links__dropdown-item
                    a(href='#').nav-links__dropdown-link Душевые кабины
                .nav-links__dropdown-item
                    a(href='#').nav-links__dropdown-link Стекла
